EFF_DAT=2026-06-16
MANUAL_CSV_SOURCE_DIR=manual_csv_filedrop
CUSTOMERS_SNAPSHOT_FILE_PATTERN=site06_customers_manual_snapshot_*.csv
MANUAL_ORDERS_FILE_PATTERN=site06_orders_manual_export_{eff_dat}.csv

DB_USERNAME=<CHANGE_ME_USERNAME>
DB_PASSWORD=<CHANGE_ME_PASSWORD>

MSSQL_HOST=<CHANGE_ME_HOST>
MSSQL_PORT=1433
MSSQL_DATABASE=<CHANGE_ME_DATABASE>
MSSQL_VIEW=<CHANGE_ME_VIEW>

ORACLE_HOST=<CHANGE_ME_HOST>
ORACLE_PORT=1521
ORACLE_SERVICE=<CHANGE_ME_SERVICE>
ORACLE_VIEW=<CHANGE_ME_VIEW>

DB2_HOST=<CHANGE_ME_HOST>
DB2_PORT=50000
DB2_DATABASE=<CHANGE_ME_DATABASE>
DB2_VIEW=<CHANGE_ME_VIEW>
DB2_JDBC_JAR=local_drivers/db2/db2jcc4.jar
DB2_JDBC_CLASS=com.ibm.db2.jcc.DB2Driver

MYSQL_HOST=<CHANGE_ME_HOST>
MYSQL_PORT=3306
MYSQL_DATABASE=<CHANGE_ME_DATABASE>
MYSQL_VIEW=<CHANGE_ME_VIEW>

POSTGRES_HOST=<CHANGE_ME_HOST>
POSTGRES_PORT=5432
POSTGRES_DATABASE=<CHANGE_ME_DATABASE>
POSTGRES_VIEW=<CHANGE_ME_VIEW>
